.logo-bg-color {
    background-color: #FBF9FF;
}

.top-rectangle {
    background-color: #EDE5DC;
}

.middle-rectangle {
    background-color: #DCC2FD;
}

.lower-rectangle {
    background-color: #887D95;
}

.nav-text-color {
    color: #554242;
}

.order-button-color {
    background-color: #664382;
}

.order-button-color:hover {
    color: #EAD7D7;
    background-color: #554242;
}

.nav-link {
    display: flex;
    flex-direction: column;
    transition: 0.1s ease;
}

.nav-link:hover {
    color: white;
}

.nav-link.active {
    color: #664372; 
}

.nav-link.active .nav-span {
    background-color: #664372;
    height: 0.125rem;
}

.heart-shadow {
    filter: drop-shadow(0px 8px 9px rgba(161, 161, 170, 0.75));
}

.floating-order-button {
    transition: bottom 0.2s ease-in-out;
}
